
h1{
    text-align: center;
    font-size:55px !important;
    height: 3em;
    color: white !important;
}

.picture {
    background-image: url("homeBg.jpg");
    background-position: 0% 40%;
    background-size: cover;
    
}

