body{
    background-color: rgb(240, 240, 240);
}

.card-text {
    height: 100px;
    overflow: auto;
}

.bg-comments{
    background-color: #e0e0e0;
}

.titles{
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline
}

hr {
    margin: 5px 0;
    height: 1px;
    width: 200px;
    border: none;
    background-color: #403a41;
    background-image: -webkit-gradient(linear, left top, right top, from(#403a41), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, #403a41, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, #403a41, rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, #403a41, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, #403a41, rgba(0, 0, 0, 0));
}